

<section class="timeline-page">
  <h1 class="timeline-title reveal">Celebration<br />Timeline</h1>
  <div class="divider reveal" aria-hidden="true">
    <span class="line"></span>
    <span class="dot">❖</span>
    <span class="line"></span>
  </div>

  <div class="day-group reveal reveal-1">
    <div class="day-banner banner-maroon">Monday, 2 November 2026</div>
    <ul class="event-list">
      <li class="event-row">
        <span class="event-name">Samuhat</span>
        <span class="event-fill"></span>
        <span class="event-time">10:00 AM</span>
      </li>
      <li class="event-row">
        <span class="event-name">Mehandi &amp; Ladies Sangeet</span>
        <span class="event-fill"></span>
        <span class="event-time">05:00 PM</span>
      </li>
      <li class="event-row">
        <span class="event-name">DJ Night &amp; Dinner</span>
        <span class="event-fill"></span>
        <span class="event-time">07:00 PM</span>
      </li>
    </ul>
  </div>

  <div class="day-group reveal reveal-2">
    <div class="day-banner banner-green">Tuesday, 3 November 2026</div>
    <ul class="event-list">
      <li class="event-row">
        <span class="event-name">Sehra Bandi</span>
        <span class="event-fill"></span>
        <span class="event-time">06:00 AM</span>
      </li>
      <li class="event-row">
        <span class="event-name">Departure of Barat</span>
        <span class="event-fill"></span>
        <span class="event-time">08:00 AM</span>
      </li>
      <li class="event-row">
        <span class="event-name">Vadhu Parvesh</span>
        <span class="event-fill"></span>
        <span class="event-time">06:00 PM</span>
      </li>
    </ul>
  </div>

  <div class="day-group reveal reveal-3">
    <div class="day-banner banner-orange">Wednesday, 4 November 2026</div>
    <ul class="event-list">
      <li class="event-row">
        <span class="event-name">Dhaam</span>
        <span class="event-fill"></span>
        <span class="event-time event-time-accent">12:30 PM Onwards</span>
      </li>
    </ul>
  </div>

  <div class="venue reveal reveal-4">
    <p class="venue-label">Departure of Barat</p>
    <p class="venue-name">Veda Palace</p>
    <p class="venue-location">Hamirpur, Himachal Pradesh</p>
  </div>

  <div class="divider reveal reveal-4" aria-hidden="true">
    <span class="line"></span>
    <span class="dot">❖</span>
    <span class="line"></span>
  </div>

  <div class="contact reveal reveal-5">
    <p class="contact-label">All Family Members</p>
    <p class="contact-numbers">9418030712 &nbsp;|&nbsp; 8211912681</p>
  </div>
</section>


